<h1> Heroes <small>Heroes de Marvel y DC</small></h1>
<hr>

<div class="row">

    <div class="ml-lg-0 col-sm-4 bg-light tex- black animated fadeIn fast" *ngFor="let heroe of heroes; let i = index">
        <img class="card-img-top img-fluid" [src]="heroe.img" [alt]="heroe.nombre">
        <div class="card-block">
            <h4 class="card-title">{{ heroe.nombre }}</h4>
            <p class="card-text">{{ heroe.bio }}</p>
            <p class="card-tex"><small class="text-muted">{{ heroe.aparicion }}</small></p>
            <button (click)="verHeroe(i)" class="btn btn-outline-primary btn-block">Ver más...</button>
            <!--<a [routerLink]="['/heroe', i]" class="btn btn-outline-primary btn-bloc">Ver más...</a>-->
        </div>
    </div>

</div>

